@using ASM_Auto.ViewModels.AutoAccessories.Mats
@model AllMatsViewModel
@{
    ViewData["Title"] = "Стелки";
}
<h2 class="title">Светлини</h2>

<section class="form">

    <form method="get">
        <div class="form-group">
            <label></label>
            <select asp-for="CarMakeId" class="form-control carMakes">
                <option value="" disabled selected hidden>Марка</option>
                @foreach (var make in Model.CarMakes)
                {
                    <option value="@make.CarMakeId">@make.CarMakeText</option>
                }

            </select>
        </div>

        <div class="form-group">
            <label></label>

            <select asp-for="CarModelId" class="form-control carModels">
                <option value="" disabled selected hidden>Модел</option>
 
            </select>
        </div>

        <div class="form-group">
            <label></label>

            <select asp-for="MatsTypeId" class="form-control">
                <option value="" disabled selected hidden>Тип</option>
                @foreach (var types in Model.MatsTypes)
                {
                    <option value="@types.MatsTypeId">@types.MatsTypeName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label></label>

            <select asp-for="OrderedProducts" class="form-control">
                <option value="" disabled selected hidden>Подреди по</option>
                <option value="1">Цена (възходящо)</option>
                <option value="2">Цена (низходящо)</option>
                <option value="0">Най-нови</option>
            </select>
        </div>
        <input type="submit" value="Търсене..." class="sbtBtn" />


    </form>
    <hr class="lineUnForm">

</section>
<section class="products">

    @if (!Model.Mats.Any())
    {
        <p class="nf">Няма намерени резултати!</p>
    }
    @foreach (var product in Model.Mats)
    {
        <partial name="_PartialProduct" model="@product" />
    }

</section>

@{
    var previosPage = Model.currentPage - 1;

    if (previosPage < 1)
    {
        previosPage = 1;
    }

    var maxPage = Math.Ceiling((double)(Model.MatsCount / AllMatsViewModel.productsPerPage));
}

@if (Model.Mats.Any())
{
    <section class="paginationSection">
        <a class="paginationBtn @(Model.currentPage==1? "isDisabled" : String.Empty)"
       asp-controller="AutoAccessories"
       asp-action="Mats"
       asp-route-currentPage="@previosPage"
       asp-route-CarMakeId="@Model.CarMakeId"
       asp-route-CarModelId="@Model.CarModelId"
       asp-route-MatsTypeId="@Model.MatsTypeId"
       asp-route-OrderedProducts="@((int)Model.OrderedProducts)">
            Назад
        </a>

        <a class="paginationBtn @(Model.currentPage>=maxPage? "isDisabled" : String.Empty)"
       asp-controller="AutoAccessories"
       asp-action="Mats"
       asp-route-currentPage="@(Model.currentPage + 1)"
       asp-route-CarMakeId="@Model.CarMakeId"
       asp-route-CarModelId="@Model.CarModelId"
       asp-route-MatsTypeId="@Model.MatsTypeId"
       asp-route-OrderedProducts="@((int)Model.OrderedProducts)">
            Напред
        </a>
    </section>
}
<script src="/js/get-car-models.js"></script>
