@using ASM_Auto.ViewModels.Administration.EditProducts
@model EditNavigationViewModel

<section class="sectionLoginForm">
    <form class="accForm" method="post" enctype="multipart/form-data">
        <h2 class="formTitle">Добави мултимедия</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="field">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
            <br>
            <input class="form-control " autocomplete="title" aria-required="true" asp-for="@Model.Title" placeholder="Загалвие на продукта" required/>
        </div>
        <div class="field">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
            <br>
            <input type="number" step="0.01" class="form-control " autocomplete="price" aria-required="true" asp-for="@Model.Price" placeholder="Цена" required />
        </div>
        <div class="field">
            <span asp-validation-for="@Model.NewPrice" class="text-danger"></span>
            <br>
            <input type="number" value="null" class="form-control " autocomplete="price" aria-required="true" asp-for="@Model.NewPrice" placeholder="Нова Цена" />
        </div>

        <div class="field">
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
            <br>
            <input class="form-control " autocomplete="description" aria-required="true" asp-for="@Model.Description" placeholder="Описание" required />
        </div>

        <div class="field">

            <input class="form-control " autocomplete="line-description" aria-required="true" asp-for="@Model.LineDescription" placeholder="Описание-списък" />
        </div>

        <div class="field">
            <span asp-validation-for="@Model.CarMakeId" class="text-danger"></span>
            <br>
            <select asp-for="CarMakeId" class="form-control carMakes">
                    <option value="" disabled selected hidden>Марка</option>
                @foreach (var make in Model.CarMakes)
                {
                    <option value="@make.CarMakeId">@make.CarMakeText</option>
                }
                </select>
        </div>

        <div class="field">
            <span asp-validation-for="@Model.CarModelId" class="text-danger"></span>
            <br>
            <select asp-for="CarModelId" class="form-control carModels">
                <option value="" disabled selected hidden> Модел</option>
               
            </select>
        </div>

        <div class="field">
            <select asp-for="FreeDelivery" class="form-control">
                <option value="false">Доставка</option>

                <option value="true">Безплатна доставка</option>

            </select>
        </div>
        <br>
        <div class="field">
            <label for="upload">Избери изображения</label>
         <br>
         <br>
            <span asp-validation-for="@Model.Images" class="text-danger"></span>
            <br>
            <input id="upload" asp-for="@Model.Images" multiple accept="image/gif, image/jpeg, image/png">
        </div>

        <div class="text-center">
            <button type="submit" class="btn-primary">Създай</button>
        </div>
    </form>
</section>
    <script src="/js/get-car-models.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
