@using ASM_Auto.ViewModels.Account
@model ChangePasswordViewModel

<section class="sectionLoginForm">

    <form class="accForm" method="post">
        <h2 class="formTitle">Смени парола</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <div class="field">
            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
            <br>
        <input class="form-control" type="password" autocomplete="old-password" aria-required="true" asp-for="@Model.OldPassword" placeholder="Стара парола" />
        </div>
        <div class="field">
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
            <br>
            <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.NewPassword" placeholder="Нова парола" />
        </div>
        <div class="field">
            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
            <br>
            <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmNewPassword" placeholder="Потвърди нова парола" />
        </div>
        <div class="text-center">
            <button class="btn-primary" type="submit">Смени</button>
           
        </div>
    </form>
</section>