@using ASM_Auto.ViewModels.Administration.ManageOrders
@model AllManageOrdersViewModel

<h1 class="title">Поръчки</h1>
<hr class="line-under-title">
<section class="form">

    <form method="get">
        <div class="form-group">
            <label></label>
            <select asp-for="Status" class="form-control">
                <option value="" disabled selected hidden>Статус</option>
                <option value="0">Pending</option>
                <option value="1">Declined</option>
                <option value="2">Confirmed</option>
                <option value="3">Shipped</option>
                <option value="4">Completed</option>
                <option value="5">Cancelled</option>
            </select>
        </div>

        <input type="submit" value="Търсене..." class="sbtBtn" />


    </form>
    <hr class="lineUnForm">

</section>
@if (!Model.Orders.Any())
{
    <H2 class="empty">Все още няма направени поръчки!</H2>
}

<div class="orders">

    @foreach (var order in Model.Orders)
    {


        <div class="order">
            <div class="head">
                <p class="owner">Поръчка от: @order.FirstName @order.LastName</p>
                <p class="orderStatus">Статус: @order.Status</p>
                <p class="orderDate">Дата: @order.CreateDate</p>
            </div>
            <hr class="line-under-head">
            @foreach (var product in order.Products)
            {
                <div class="product">
                    <tr class="body">
                        <td>
                            <a href="/Products/Details?productId=@product.ProductId">
                                <div class="product-info">
                                    <img src="@product.ImageUrl" class="product-img">
                                    <p class="title">@product.Title</p>
                                    <p class="price">Цена: @product.Price лв.</p>

                                </div>
                            </a>
                        </td>

                        <td>
                            <div class="status">
                                <p class="quantity">Количество: @product.Quantity бр.</p>

                            </div>
                        </td>
                        <td class="delivery-time">
                            <p class="priceP">Цена: @product.Price</p>

                        </td>
                    </tr>
                </div>

            }
            <div class="cancelBtn">
                <a asp-area="Administration" asp-controller="ManageOrders" asp-action="Manage" asp-route-Order="@order.OrderId">Manage</a>
            </div>
        </div>
    }

</div>